<%= form_for(@static_page) do |f| %>
  <% if @static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_page.errors.count, "error") %> prohibited this static_page from being saved:</h2>

      <ul>
        <% @static_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>* Denotes a required field</p>

  <div class="field">
    <span class="form-label"><%= f.label :main_heading %>*</span>
    <span class="form-field"><%= f.text_field :main_heading %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :main_body %>*</span>
    <span class="form-field"><%= f.text_area :main_body, :size => "60x20" %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :menu_label %>*</span>
    <span class="form-field"><%= f.text_field :menu_label %></span>
  </div>
  <h2>Main Menu</h2>
  <div class="field">
    <span class="form-label"><%= f.label :show_in_main_menu %></span>
    <span class="form-field"><%= f.check_box :show_in_main_menu %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :main_menu_running_order %></span>
    <span class="form-field"><%= f.number_field :main_menu_running_order %></span>
  </div>
  <h2>Footer</h2>
  <div class="field">
    <span class="form-label"><%= f.label :show_in_page_footer %></span>
    <span class="form-field"><%= f.check_box :show_in_page_footer %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :footer_running_order %></span>
    <span class="form-field"><%= f.number_field :footer_running_order %></span>
  </div>
  <h2>Search Engine Items</h2>
  <div class="field">
    <span class="form-label"><%= f.label :window_title %>*</span>
    <span class="form-field"><%= f.text_field :window_title %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :page_description %>*</span>
    <span class="form-field"><%= f.text_field :page_description %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :search_terms %>*</span>
    <span class="form-field"><%= f.text_field :search_terms %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
