<h1>Static Pages</h1>
<table>
  <tr>
    <th style="width: 100px;">Main heading</th>
    <th style="width: 100px;">Main body</th>
    <th style="width: 100px;">Menu label</th>
    <th style="width: 100px;">Show in main menu</th>
    <th style="width: 100px;">Main menu running order</th>
    <th style="width: 100px;">Show in page footer</th>
    <th style="width: 100px;">Footer running order</th>
    <th style="width: 100px;">Window title</th>
    <th style="width: 100px;">Page description</th>
    <th style="width: 100px;">Search terms</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @static_pages.each do |static_page| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= static_page.main_heading %></td>
      <td><%= static_page.main_body %></td>
      <td><%= static_page.menu_label %></td>
      <td><%= static_page.show_in_main_menu %></td>
      <td><%= static_page.main_menu_running_order %></td>
      <td><%= static_page.show_in_page_footer %></td>
      <td><%= static_page.footer_running_order %></td>
      <td><%= static_page.window_title %></td>
      <td><%= static_page.page_description %></td>
      <td><%= static_page.search_terms %></td>
      <td><%= link_to 'Show', static_page %></td>
      <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Static Page", :item => static_page} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_static_page_path %>
