<h1>Static Pages</h1>
<table>
  <tr>
    <th style="width: 100px;">Main heading</th>
    <th style="width: 100px;">Main body</th>
    <th style="width: 100px;">Menu label</th>
    <th style="width: 100px;">Running order</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  
  <tr><td colspan=5><h2>Shown in the Main Nav Bar</h2></td></tr>
  <% @navbar_static_pages.each do |static_page| %>
    <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;" class="graduated-background">
      <td><%= static_page.main_heading %></td>
      <td><%= static_page.main_body %></td>
      <td><%= static_page.menu_label %></td>
      <td><%= static_page.main_menu_running_order %></td>
      <td><%= link_to 'View', static_page %></td>
      <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Static Page", :item => static_page} -%>
    </td>
  <% end %>
  
  <tr><td colspan=5><h2>Shown in the Footer</h2></td></tr>
  <% @footer_static_pages.each do |static_page| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= static_page.main_heading %></td>
        <td><%= static_page.main_body %></td>
        <td><%= static_page.menu_label %></td>
        <td><%= static_page.footer_running_order %></td>
        <td><%= link_to 'View', static_page %></td>
        <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
        <%= render :partial => '/layouts/delete_button', :locals => {:label => "Static Page", :item => static_page} -%>
        </td>
  <% end %>

  <tr><td colspan=5><h2>Hidden Pages</h2></td></tr>
  <% @hidden_static_pages.each do |static_page| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= static_page.main_heading %></td>
        <td><%= static_page.main_body %></td>
        <td><%= static_page.menu_label %></td>
        <td> </td>
        <td><%= link_to 'View', static_page %></td>
        <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
        <%= render :partial => '/layouts/delete_button', :locals => {:label => "Static Page", :item => static_page} -%>
        </td>
  <% end %>

  
</table><br/>
<%= link_to 'New', new_static_page_path %>
