<h1>Static Page #<%= params[:id] %></h1>
<table>
  <tr><td>Main heading:</td><td><%= @static_page.main_heading %></td></tr>
  <tr><td>Main body:</td><td><%= @static_page.main_body %></td></tr>
  <tr><td>Menu label:</td><td><%= @static_page.menu_label %></td></tr>
  <tr><td>Show in main menu:</td><td><%= @static_page.show_in_main_menu %></td></tr>
  <tr><td>Main menu running order:</td><td><%= @static_page.main_menu_running_order %></td></tr>
  <tr><td>Show in page footer:</td><td><%= @static_page.show_in_page_footer %></td></tr>
  <tr><td>Footer running order:</td><td><%= @static_page.footer_running_order %></td></tr>
  <tr><td>Window title:</td><td><%= @static_page.window_title %></td></tr>
  <tr><td>Page description:</td><td><%= @static_page.page_description %></td></tr>
  <tr><td>Search terms:</td><td><%= @static_page.search_terms %></td></tr>
</table><br/>
<%= link_to 'Back', static_pages_path %> | <%= link_to 'Edit', edit_static_page_path(@static_page) %> |