<%= form_for(@general_setting) do |f| %>
  <% if @general_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_setting.errors.count, "error") %> prohibited this general_setting from being saved:</h2>

      <ul>
      <% @general_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label-wide"><%= f.label :default_value_for_weekly_production_quota %></span>
    <span class="form-field"><%= f.number_field :default_value_for_weekly_production_quota %></span>
  </div>
  <div class="field">
    <span class="form-label-wide"><%= f.label :customer_service_email_address %></span>
    <span class="form-field"><%= f.text_field :customer_service_email_address %></span>
  </div>
  <div class="field">
    <span class="form-label-wide"><%= f.label :customer_service_phone_number %></span>
    <span class="form-field"><%= f.text_field :customer_service_phone_number %></span>
  </div>
  <div class="field">
    <span class="form-label-wide">AWS bucket name (can't be edited)</span>
    <span class="form-field"><%= @general_setting.aws_bucket_name %></span>
  </div>
  <div class="field">
    <span class="form-label-wide"><%= f.label :rbn_number, "RBN Number" %></span>
    <span class="form-field"><%= f.text_field :rbn_number %></span>
  </div>
  <div class="field">
    <span class="form-label-wide">Default Currency (Can't be changed)</span>
    <span class="form-field"><%= @general_setting.currency.iso_code %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
