<%= form_for(@general_setting) do |f| %>
  <% if @general_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_setting.errors.count, "error") %> prohibited this general_setting from being saved:</h2>

      <ul>
      <% @general_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :default_value_for_weekly_production_quota %><br />
    <%= f.number_field :default_value_for_weekly_production_quota %>
  </div>
  <div class="field">
    <%= f.label :customer_service_email_address %><br />
    <%= f.text_field :customer_service_email_address %>
  </div>
  <div class="field">
    <%= f.label :customer_service_phone_number %><br />
    <%= f.text_field :customer_service_phone_number %>
  </div>
  <div class="field">
    AWS bucket name (can't be edited)<br />
    <%= @general_setting.aws_bucket_name %>
  </div>
  <div class="field">
    <%= f.label :rbn_number %><br />
    <%= f.text_field :rbn_number %>
  </div>
  <div class="field">
    Default Currency (Can't be changed)<br />
    <%= @general_setting.currency.iso_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
