<h1>General Settings</h1>
<table>
  <tr>
    <th style="width: 100px;">Default value for weekly production quota</th>
    <th style="width: 100px;">Customer service email address</th>
    <th style="width: 100px;">Customer service phone number</th>
    <th style="width: 100px;">AWS bucket name</th>
    <th style="width: 100px;">RBN #</th>
    <th style="width: 100px;">Default CCY</th>
  </tr>
  <% @general_settings.each do |general_setting| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;" class="graduated-background">
      <td><%= general_setting.default_value_for_weekly_production_quota %></td>
      <td><%= general_setting.customer_service_email_address %></td>
      <td><%= general_setting.customer_service_phone_number %></td>
      <td><%= general_setting.aws_bucket_name %></td>
      <td><%= general_setting.rbn_number %></td>
      <td><%= general_setting.currency.iso_code %></td>
      <td><%= link_to 'View', general_setting %> | <%= link_to 'Edit', edit_general_setting_path(general_setting) %></td>
    </td>
  <% end %>
</table><br/>

<p>Only one record is permitted in this screen</p>