<%= form_for(@shopping_cart_status) do |f| %>
  <% if @shopping_cart_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_cart_status.errors.count, "error") %> prohibited this shopping_cart_status from being saved:</h2>

      <ul>
        <% @shopping_cart_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :name %></span>
    <span class="form-field"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :description %></span>
    <span class="form-field"><%= f.text_area :description %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :active_cart %></span>
    <span class="form-field"><%= f.check_box :active_cart %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :paid_cart %></span>
    <span class="form-field"><%= f.check_box :paid_cart %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :chargeback_cart %></span>
    <span class="form-field"><%= f.check_box :chargeback_cart %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :production_started %></span>
    <span class="form-field"><%= f.check_box :production_started %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :production_complete %></span>
    <span class="form-field"><%= f.check_box :production_complete %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
