<h1>Shopping Cart Statuses</h1>
<table>
  <tr>
    <th style="width: 300px;">Name /<br/>Description</th>
    <th style="width:  50px;">Active</th>
    <th style="width:  50px;">Paid</th>
    <th style="width:  50px;">Chargeback</th>
    <th style="width:  50px;">Production<br/>started</th>
    <th style="width:  50px;">Production<br/>complete</th>
    <th style="width:  50px;">Running<br/>order</th>
  </tr>
  <% @shopping_cart_statuses.each do |shopping_cart_status| %>
    <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;" class="graduated-background">
      <td><%= shopping_cart_status.name %><br/>
          <%= shopping_cart_status.description %></td>
      <td><%= sanitize tick_or_cross shopping_cart_status.active_cart %></td>
      <td><%= sanitize tick_or_cross shopping_cart_status.paid_cart %></td>
      <td><%= sanitize tick_or_cross shopping_cart_status.chargeback_cart %></td>
      <td><%= sanitize tick_or_cross shopping_cart_status.production_started %></td>
      <td><%= sanitize tick_or_cross shopping_cart_status.production_complete %></td>
      <td><%= shopping_cart_status.running_order %></td>
      <td style="width:  40px;"><%= link_to 'Edit', edit_shopping_cart_status_path(shopping_cart_status) %></td>
      <% if shopping_cart_status.shopping_carts.count == 0 %>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Shopping Cart Status", :item => shopping_cart_status} -%>
      <% else %>
      <td><%= shopping_cart_status.shopping_carts.count %> carts</td>
      <% end %>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_shopping_cart_status_path %>
