<h1>Production Quotas</h1>
<p>Weeks are automatically created two years ahead of time in this calendar.</p>
<table>
  <tr>
    <th style="width: 100px;">From</th>
    <th style="width: 100px;">To</th>
    <th style="width:  60px;text-align: center;">Quota</th>
    <th style="width:  50px;text-align: center;">Total</th>
    <th style="width:  50px;text-align: center;">Mon</th>
    <th style="width:  50px;text-align: center;">Tue</th>
    <th style="width:  50px;text-align: center;">Wed</th>
    <th style="width:  50px;text-align: center;">Thu</th>
    <th style="width:  50px;text-align: center;">Fri</th>
    <th style="width:  50px;text-align: center;">Sat</th>
    <th style="width:  50px;text-align: center;">Sun</th>
  </tr>
  <% @production_quota.each do |production_quotum| %>
    <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
      <td><%= production_quotum.start_date %></td>
      <td><%= production_quotum.finish_date %></td>
      <td style="text-align: center;"><%= link_to production_quotum.maximum_cakes_allowed, edit_production_quotum_path(production_quotum), :title => "Click to edit the quota for this week" %></td>
      <td style="text-align: center;"><%= link_to(production_quotum.monday_bookings.count + production_quotum.tuesday_bookings.count + production_quotum.wednesday_bookings.count + production_quotum.thursday_bookings.count + production_quotum.friday_bookings.count + production_quotum.saturday_bookings.count + production_quotum.sunday_bookings.count, production_quotum_path(production_quotum.id)) %></td>
      <td style="text-align: center;"><%= production_quotum.monday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.tuesday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.wednesday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.thursday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.friday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.saturday_bookings.count %></td>
      <td style="text-align: center;"><%= production_quotum.sunday_bookings.count %></td>
    </td>
  <% end %>
</table><br/>
