<h1>Production Quota</h1>
<table>
  <tr>
    <th style="width: 100px;">Start date</th>
    <th style="width: 100px;">Finish date</th>
    <th style="width: 100px;">Maximum cakes allowed</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @production_quota.each do |production_quotum| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= production_quotum.start_date %></td>
      <td><%= production_quotum.finish_date %></td>
      <td><%= production_quotum.maximum_cakes_allowed %></td>
      <td><%= link_to 'Show', production_quotum %></td>
      <td><%= link_to 'Edit', edit_production_quotum_path(production_quotum) %></td>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_production_quotum_path %>
