<h1>Production Quotas</h1>
<table>
  <tr>
    <th style="width: 100px;">From</th>
    <th style="width: 100px;">To</th>
    <th style="width:  60px;">Quota</th>
    <th style="width:  50px;">Mon</th>
    <th style="width:  50px;">Tue</th>
    <th style="width:  50px;">Wed</th>
    <th style="width:  50px;">Thu</th>
    <th style="width:  50px;">Fri</th>
    <th style="width:  50px;">Sat</th>
    <th style="width:  50px;">Sun</th>
  </tr>
  <% @production_quota.each do |production_quotum| %>
    <tr style="background-color: <%= cycle("white","inherit") %>;">
      <td><%= production_quotum.start_date %></td>
      <td><%= production_quotum.finish_date %></td>
      <td><%= link_to production_quotum.maximum_cakes_allowed, edit_production_quotum_path(production_quotum), :title => "Click to edit the quota for this week" %></td>
      <td><%= production_quotum.monday_bookings.count %></td>
    </td>
  <% end %>
</table><br/>
<p>Weeks are automatically created two years ahead of time in this calendar.</p>