<h1>Production Quota<br/><%= @production_quotum.start_date.strftime("%d-%b-%Y") %> - <%= @production_quotum.finish_date.strftime("%d-%b-%Y") %></h1>

<p>Maximum cakes allowed: <%= @production_quotum.maximum_cakes_allowed %></p>

<% if @production_quotum.shopping_carts.count > 0 %>
  <table>
    <tr>
      <th style="width: 140px;">Required at</th>
      <th style="width: 150px;">Customer</th>
      <th style="width: 100px;">Occasion</th>
      <th style="width: 200px;">Description</th>
      <th style="width: 100px;">Name on cake</th>
      <th style="width: 100px;">Cart Status</th>
    </tr>
    <% @production_quotum.monday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    <% @production_quotum.tuesday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
    <% @production_quotum.wednesday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
    <% @production_quotum.thursday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
    <% @production_quotum.friday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
    <% @production_quotum.saturday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
    <% @production_quotum.sunday_bookings.each do |cart| %>
      <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;">
        <td><%= cart.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td>
        <td><%= cart.customer.user.login %></td>
        <td><%= cart.special_occasion %></td>
        <td><%= cart.general_description_from_customer %></td>
        <td><%= cart.name_to_appear_on_cake %></td>
        <td><%= cart.shopping_cart_status.name %></td>
        <td><%= link_to("view", shopping_cart_url(cart.id))%></td>
      </tr>
    <% end %>
    
  </table><br/>
<% end %>

<%= link_to 'Back', production_quota_path %> | <%= link_to 'Edit the quota', edit_production_quotum_path(@production_quotum) %>