<%= form_for(@shopping_cart) do |f| %>
  <% if @shopping_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_cart.errors.count, "error") %> prohibited this shopping_cart from being saved:</h2>

      <ul>
      <% @shopping_cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :shopping_cart_status_id %></span>
    <span class="form-field"><%= f.collection_select :shopping_cart_status_id, @shopping_cart_statuses, :id, :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :pay_pal_status_id %></span>
    <span class="form-field"><%= f.collection_select :pay_pal_status_id, @pay_pal_statuses, :id, :name %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
