<h1>Shopping Carts</h1>
<table>
  <tr>
    <th style="width:  30px;">ID</th>
    <th style="width: 200px;">Customer</th>
    <th style="width: 150px;">Email</th>
    <th style="width: 100px;">Phone</th>
    <th style="width: 100px;">Shopping cart status</th>
    <th style="width:  70px;">PayPal</th>
    <td style="width:  90px;"></td>
  </tr>
  <% @shopping_carts.each do |shopping_cart| %>
    <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;" class="graduated-background">
      <td><%= shopping_cart.id %></td>
      <% if shopping_cart.customer and shopping_cart.customer.user %>
      <td><%= link_to(shopping_cart.customer.user.full_name, customer_url(shopping_cart.customer_id), :title => "click to view customer") %></td>
      <td><%= link_to(shopping_cart.customer.user.login, "mailto:" + shopping_cart.customer.user.login, :title => "click to send email") %></td>
      <td><%= shopping_cart.customer.contact_phone_number %></td>
      <% else %>
      <td>--</td><td>--</td><td>--</td>
      <% end %>
      <td><%= shopping_cart.shopping_cart_status.name %></td>
      <% if shopping_cart.pay_pal_status_id.to_i > 0 %>
      <td><%= shopping_cart.pay_pal_status.name %></td>
      <% else %>
      <td>--</td>
      <% end %>
      <td><%= link_to 'View', shopping_cart %>
          <%= link_to 'Edit', edit_shopping_cart_path(shopping_cart) %></td>
    </td>
  <% end %>
</table><br/>

<p>Add new Shopping Carts through the online store.</p>