<h1>Shopping Cart #<%= params[:id] %></h1>
<table>
  <tr><td>Customer:</td><td><%= @shopping_cart.customer_id %></td></tr>
  <tr><td>Session:</td><td><%= @shopping_cart.session_id %></td></tr>
  <tr><td>Cake required at:</td><td><%= @shopping_cart.cake_required_at %></td></tr>
  <tr><td>Weekly quota:</td><td><%= @shopping_cart.production_quotum_id %></td></tr>
  <tr><td>Special occasion:</td><td><%= @shopping_cart.special_occasion %></td></tr>
  <tr><td>Name to appear on cake:</td><td><%= @shopping_cart.name_to_appear_on_cake %></td></tr>
  <tr><td>Shopping cart status:</td><td><%= @shopping_cart.shopping_cart_status.name %></td></tr>
  <tr><td>Paypal status:</td><td><%= @shopping_cart.pay_pal_status_id %></td></tr>
  <tr><td>General description from customer:</td><td><%= @shopping_cart.general_description_from_customer %></td></tr>
</table><br/>
<%= link_to 'Back', shopping_carts_path %> | <%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %>