<h1>Shopping Cart #<%= params[:id] %></h1>
<table>
  <tr><td>Customer:</td><td>
    <% if @shopping_cart.customer and @shopping_cart.customer.user %>
      <%= link_to(@shopping_cart.customer.user.full_name, customer_url(@shopping_cart.customer_id), :title => "click to view the customer's details") %><br/>
      <%= link_to(sanitize(@shopping_cart.customer.user.login), "mailto:" + @shopping_cart.customer.user.login) %>
    <% else %>
    --
    <% end %>
    </td></tr>
  <tr><td>Shopping cart status:</td><td><%= @shopping_cart.shopping_cart_status.name %></td></tr>
  <tr><td>PayPal status:</td><td>
    <% if @shopping_cart.pay_pal_status_id.to_i > 0 %>
    <%= @shopping_cart.pay_pal_status.name %>
    <% else %>
    --
    <% end %>
  </td></tr>
</table><br/>

<h2>Cakes</h2>
<table>
  <tr>
    <th>Product name</th>
    <th>Customer description</th>
    <th>Options</th>
    <th style="text-align:right;">Unit Price</th>
    <th style="text-align:right;">Quantity</th>
    <th style="text-align:right;">Line Total</th>
  </tr>
  
  <% @shopping_cart.cakes.each do |cake| %>
    <tr><td colspan=4><h2>Cake #<%= cake.id %></h2></td></tr>
    <tr class="graduated-background"><td>Required at:</td><td colspan=5><%= cake.cake_required_at %></td></tr>
    <tr class="graduated-background"><td>Special occasion:</td><td colspan=5><%= cake.special_occasion %></td></tr>
    <tr class="graduated-background"><td>Name to appear on cake:</td><td colspan=5><%= cake.name_to_appear_on_cake %></td></tr>
    <tr class="graduated-background"><td>Customer's description:</td><td colspan=5><%= cake.general_description_from_customer %></td></tr>
    <tr class="graduated-background"><td>Confectioner's notes:</td><td colspan=5><%= cake.confectioners_notes %></td></tr>
    <% if cake.based_on_finished_product_id.to_i > 0 %>
      <tr class="graduated-background"><td>Based on:</td><td colspan=5><%= cake.based_on_finished_product_id %></td></tr>
    <% end %>
    <tr class="graduated-background"><td>This week's workload:</td><td colspan=5><%= link_to(cake.production_quotum.bookings, cake.production_quotum, :title => "click to see the week's bookings") %></td></tr>
    <tr><td>&nbsp;</td></tr>
    <% cake.shopping_cart_items.each do |item| %>
      <tr class="graduated-background">
        <td><%= link_to(item.product.name, product_url(item.product_id), :title => "click to view product") %></td>
        <td><%= item.user_description %></td>
        <td><%= item.product_options_list_choice %><br/>
            <%= item.global_options_list_choice %>
        </td>
        <td style="text-align:right;"><%= sanitize(number_to_currency(item.unit_price, :unit => @general_setting.ccy, :precision => 2)) %></td>
        <td style="text-align:right;"><%= item.quantity %></td>
        <td style="text-align:right;"><%= sanitize(number_to_currency(item.line_total, :unit => @general_setting.ccy, :precision => 2)) %></td>
      </tr>
    <% end %>
    <tr class="graduated-background">
      <td colspan=5>GRAND TOTAL FOR THIS CAKE:</td>
      <td style="text-align:right;border-top: 1px solid black;border-bottom: 3px double black;">
      <%= sanitize(number_to_currency(cake.total_value, :unit => @general_setting.ccy, :precision => 2)) %></td>
    </tr>
  <% end %>
</table><br/>
<%= link_to 'Back', shopping_carts_path %> | <%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %>