<%= form_for(@currency) do |f| %>
  <% if @currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
      <% @currency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :iso_code, "ISO Code" %></span>
    <span class="form-field"><%= f.text_field :iso_code %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :currency_symbol %></span>
    <span class="form-field"><%= f.text_field :currency_symbol %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :full_name %></span>
    <span class="form-field"><%= f.text_field :full_name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :running_order %></span>
    <span class="form-field"><%= f.number_field :running_order %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :active %></span>
    <span class="form-field"><%= f.check_box :active %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
