<h1>Currency #<%= params[:id] %></h1>
<table>
  <tr><td>Iso code:</td><td><%= @currency.iso_code %></td></tr>
  <tr><td>Currency symbol:</td><td><%= @currency.currency_symbol %></td></tr>
  <tr><td>Full name:</td><td><%= @currency.full_name %></td></tr>
  <tr><td>Running order:</td><td><%= @currency.running_order %></td></tr>
  <tr><td>Active:</td><td><%= sanitize tick_or_cross @currency.active %></td></tr>
</table><br/>
<%= link_to 'Back', currencies_path %> | <%= link_to 'Edit', edit_currency_path(@currency) %>