<%= form_for(@cake) do |f| %>
  <% if @cake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cake.errors.count, "error") %> prohibited this cake from being saved:</h2>

      <ul>
      <% @cake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :shopping_cart_id %></span>
    <span class="form-field"><%= f.number_field :shopping_cart_id %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :cake_required_at %></span>
    <span class="form-field"><%= f.datetime_select :cake_required_at, :order => [:day, :month, :year] %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :special_occasion %></span>
    <span class="form-field"><%= f.text_field :special_occasion %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :name_to_appear_on_cake %></span>
    <span class="form-field"><%= f.text_field :name_to_appear_on_cake %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :general_description_from_customer %></span>
    <span class="form-field"><%= f.text_area :general_description_from_customer, :size => "40x4" %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :confectioners_notes %></span>
    <span class="form-field"><%= f.text_area :confectioners_notes, :size => "40x4" %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :based_on_finished_product_id %></span>
    <span class="form-field"><%= f.collection_select :based_on_finished_product_id, @finished_products, :id, :product_name, :prompt => "Select..." %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
