<h1>Cakes</h1>
<table>
  <tr>
    <th style="width:  50px;">Cart</th>
    <th style="width: 150px;">Customer</th>
    <th style="width: 130px;">Required at</th>
    <th style="width: 100px;">Special occasion</th>
    <th style="width: 100px;">Name on cake</th>
    <th style="width: 100px;">Based on...</th>
    <td style="width:  90px;"></td>
  </tr>
  <% @cakes.each do |cake| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;" class="graduated-background">
      <td><%= link_to(cake.shopping_cart_id, cake.shopping_cart, :title => "click to view cart") %></td>
      <td><%= link_to(cake.shopping_cart.customer.user.full_name, cake.shopping_cart.customer, :title => "click to view the customer")%>
      <td><%= link_to(cake.cake_required_at.strftime("%d-%b-%Y %H:%M"), cake.production_quotum, :title => "click to view production quota") %></td>
      <td><%= cake.special_occasion %></td>
      <td><%= cake.name_to_appear_on_cake %></td>
      <td>
        <% if cake.based_on_finished_product_id %><%= cake.finished_product.product_name %><% end %>
      </td>
      <td><%= link_to 'View', cake %> | 
          <%= link_to 'Edit', edit_cake_path(cake) %></td>
    </td>
  <% end %>
</table><br/>

<p>New records can only be added to this screen via the shopping cart.</p>