<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :login, "Email" %></span>
    <span class="form-field"><%= f.text_field :login %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :first_name %></span>
    <span class="form-field"><%= f.text_field :first_name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :last_name %></span>
    <span class="form-field"><%= f.text_field :last_name %></span>
  </div>
<% if params[:action] == 'new' or params[:action] == 'create' %>
  <div class="field">
    <span class="form-label"><%= f.label :password, "new password" %></span>
    <span class="form-field"><%= f.password_field :password %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :password_confirmation %></span>
    <span class="form-field"><%= f.password_field :password_confirmation %></span>
  </div>
<% end %>
  <% if current_user and current_user.admin? %>
    <h2>Admin Stuff</h2>
    <div class="field">
      <span class="form-label"><%= f.label :active %></span>
      <span class="form-field"><%= f.check_box :active %></span>
    </div>
    <div class="field">
      <span class="form-label"><%= f.label :user_group_id %></span>
      <span class="form-field"><%= f.collection_select :user_group_id, @user_groups, :id, :name, :prompt => "Select..." %></span>
    </div>
  <% end %>
  
  <%= f.fields_for :customer do |c| %>
    <div class="field">
      <span class="form-label"><%= c.label :postal_address %></span>
      <span class="form-field"><%= c.text_area :postal_address, :size => "40x4" %></span><br/>
    </div>
    <div class="field">
      <span class="form-label"><%= c.label :contact_phone_number %></span>
      <span class="form-field"><%= c.text_field :contact_phone_number %></span><br/>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %> or <%= link_to "Change your password", change_password_url %>
  </div>
<% end %>
