<h1>Change Your Password</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :current_password %></span>
    <span class="form-field"><%= f.password_field :current_password %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :password, "new password" %></span>
    <span class="form-field"><%= f.password_field :password %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :password_confirmation %></span>
    <span class="form-field"><%= f.password_field :password_confirmation %></span>
  </div>
  <div class="actions">
    <%= f.submit "Change Password" %> or <%= link_to "return to your profile", my_account_url %>
  </div>
<% end %>
