<h1>Product Components</h1>
<table>
  <tr>
    <th style="width: 100px;">Product</th>
    <th style="width: 100px;">Component product</th>
    <th style="width: 100px;">Quantity</th>
    <th style="width: 100px;">Running order</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @product_components.each do |product_component| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= product_component.product_id %></td>
      <td><%= product_component.component_product_id %></td>
      <td><%= product_component.quantity %></td>
      <td><%= product_component.running_order %></td>
      <td><%= link_to 'Show', product_component %></td>
      <td><%= link_to 'Edit', edit_product_component_path(product_component) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Product Component", :item => product_component} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_product_component_path %>
