<h1>Customers</h1>
<table>
  <tr>
    <th style="width: 100px;">User</th>
    <th style="width: 100px;">Postal address</th>
    <th style="width: 100px;">Contact phone number</th>
    <th style="width: 100px;"></th>
    <th style="width: 100px;"></th>
    <th style="width: 100px;"></th>
  </tr>
  <% @customers.each do |customer| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= customer.user.login %></td>
      <td><%= customer.postal_address %></td>
      <td><%= customer.contact_phone_number %></td>
      <td><%= link_to 'Show', customer %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "customer", :item => customer} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_customer_path %>
