<h1>Customer #<%= params[:id] %></h1>
<table>
  <tr><td>User:</td><td><%= @customer.user.login %></td></tr>
  <tr><td>Postal address:</td><td><%= @customer.postal_address %></td></tr>
  <tr><td>Contact phone number:</td><td><%= @customer.contact_phone_number %></td></tr>
</table><br/>
<%= link_to 'Back', currencies_path %> | <%= link_to 'Edit', edit_customer_path(@customer) %>