<h1>PayPal Transactions</h1>
<table>
  <tr>
    <th style="width: 100px;">Paypal transaction</th>
    <th style="width: 100px;">Shopping cart</th>
    <th style="width: 100px;">Result code</th>
    <th style="width: 100px;">Currency code</th>
    <th style="width: 100px;">Currency</th>
    <th style="width: 100px;">Amount</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @pay_pal_transactions.each do |pay_pal_transaction| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= pay_pal_transaction.paypal_transaction_id %></td>
      <td><%= pay_pal_transaction.shopping_cart_id %></td>
      <td><%= pay_pal_transaction.result_code %></td>
      <td><%= pay_pal_transaction.currency_code %></td>
      <td><%= pay_pal_transaction.currency.iso_code %></td>
      <td><%= pay_pal_transaction.amount %></td>
      <td><%= link_to 'Show', pay_pal_transaction %></td>
      <td><%= link_to 'Edit', edit_pay_pal_transaction_path(pay_pal_transaction) %></td>
    </td>
  <% end %>
</table><br/>

<p>Transactions can only be added by PayPal themselves</p>