<h1>PayPal Transaction #<%= params[:id] %></h1>
<table>
  <tr><td>Paypal transaction:</td><td><%= @pay_pal_transaction.paypal_transaction_id %></td></tr>
  <tr><td>Shopping cart:</td><td><%= @pay_pal_transaction.shopping_cart_id %></td></tr>
  <tr><td>Result code:</td><td><%= @pay_pal_transaction.result_code %></td></tr>
  <tr><td>Currency code:</td><td><%= @pay_pal_transaction.currency_code %></td></tr>
  <tr><td>Currency:</td><td><%= @pay_pal_transaction.currency.iso_code %></td></tr>
  <tr><td>Amount:</td><td><%= @pay_pal_transaction.amount %></td></tr>
  <tr><td>Rest of the stuff serialised:</td><td><%= @pay_pal_transaction.rest_of_the_stuff_serialised %></td></tr>
</table><br/>
<%= link_to 'Back', pay_pal_transactions_path %> | <%= link_to 'Edit', edit_pay_pal_transaction_path(@pay_pal_transaction) %>