<h1>Product Images</h1>
<table>
  <tr>
    <th style="width: 100px;">Product</th>
    <th style="width: 100px;">Image</th>
    <th style="width: 100px;">Running order</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @product_images.each do |product_image| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= product_image.product_id %></td>
      <td><%= product_image.image_id %></td>
      <td><%= product_image.running_order %></td>
      <td><%= link_to 'View', product_image %></td>
      <td><%= link_to 'Edit', edit_product_image_path(product_image) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Product Image", :item => product_image} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_product_image_path %>
