<h1>PayPal Statuses</h1>
<table>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 300px;">Description</th>
    <th style="width:  80px;">Pending authorisation</th>
    <th style="width:  80px;">Paid sale</th>
    <th style="width:  80px;">Charged back</th>
  </tr>
  <% @pay_pal_statuses.each do |pay_pal_status| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;" class="graduated-background">
      <td><%= pay_pal_status.name %></td>
      <td><%= pay_pal_status.description %></td>
      <td><%= sanitize tick_or_cross pay_pal_status.pending_authorisation %></td>
      <td><%= sanitize tick_or_cross pay_pal_status.paid_sale %></td>
      <td><%= sanitize tick_or_cross pay_pal_status.charged_back %></td>
      <td><%= link_to 'View', pay_pal_status %> | <%= link_to 'Edit', edit_pay_pal_status_path(pay_pal_status) %></td>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_pay_pal_status_path %>
