<%= form_for(@product_category) do |f| %>
  <% if @product_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this product_category from being saved:</h2>

      <ul>
      <% @product_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :name %></span>
    <span class="form-field"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :description %></span>
    <span class="form-field"><%= f.text_area :description %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :one_choice_only %></span>
    <span class="form-field"><%= f.check_box :one_choice_only %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :running_order %></span>
    <span class="form-field"><%= f.number_field :running_order %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :options_list_id %></span>
    <span class="form-field"><%= f.collection_select :options_list_id, @options_lists, :id, :name, :prompt => "Select (optional)..." %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
