<h1>Product Categories</h1>
<table>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 250px;">Description</th>
    <th style="width:  90px;">One choice only</th>
    <th style="width:  80px;">Running order</th>
    <th style="width: 100px;">Options list</th>
    <td style="width:  90px;"></td>
    <td style="width:  90px;"></td>
  </tr>
  <% @product_categories.each do |product_category| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= product_category.name %></td>
      <td><%= product_category.description %></td>
      <td><%= sanitize tick_or_cross product_category.one_choice_only %></td>
      <td><%= product_category.running_order %></td>
      <td>
        <% if product_category.options_list_id.to_i > 0 %>
          <%= product_category.options_list.name %>
        <% end %>
      </td>
      <td><%= link_to 'View', product_category %> | 
          <%= link_to 'Edit', edit_product_category_path(product_category) %></td>
      <% if product_category.products.count == 0 %>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Product Category", :item => product_category} -%>
      <% else %>
      <td><%= product_category.products.count %> items</td>
      <% end %>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_product_category_path %>
