<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product_category.description %>
</p>

<p>
  <b>One choice only:</b>
  <%= @product_category.one_choice_only %>
</p>

<p>
  <b>Running order:</b>
  <%= @product_category.running_order %>
</p>

<p>
  <b>Options list:</b>
  <%= @product_category.options_list_id %>
</p>


<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
