<%= form_for(@special_occasion) do |f| %>
  <% if @special_occasion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special_occasion.errors.count, "error") %> prohibited this special_occasion from being saved:</h2>

      <ul>
      <% @special_occasion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :name %></span>
    <span class="form-field"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :running_order %></span>
    <span class="form-field"><%= f.number_field :running_order %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :visible_to_customers %></span>
    <span class="form-field"><%= f.check_box :visible_to_customers %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
