<h1>Special Occasions</h1>
<table>
  <tr>
    <th style="width: 100px;">Name</th>
    <th style="width: 100px;">Running order</th>
    <th style="width: 100px;">Visible to customers</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @special_occasions.each do |special_occasion| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= special_occasion.name %></td>
      <td><%= special_occasion.running_order %></td>
      <td><%= sanitize tick_or_cross special_occasion.visible_to_customers %></td>
      <td><%= link_to 'Show', special_occasion %></td>
      <td><%= link_to 'Edit', edit_special_occasion_path(special_occasion) %></td>
      <% if special_occasion.products.count == 0 %>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Special Occasion", :item => special_occasion} -%>
      <% end %>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_special_occasion_path %>
