<h1>Weekly Quotas</h1>
<table>
  <tr>
    <th style="width: 100px;">Start date</th>
    <th style="width: 100px;">End date</th>
    <th style="width: 100px;">Quota</th>
    <th style="width: 100px;">Created by</th>
    <th style="width: 100px;">Updated by</th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
    <th style="width:  40px;"></th>
  </tr>
  <% @weekly_quota.each do |weekly_quotum| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= weekly_quotum.start_date %></td>
      <td><%= weekly_quotum.end_date %></td>
      <td><%= weekly_quotum.quota %></td>
      <td><%= weekly_quotum.created_by %></td>
      <td><%= weekly_quotum.updated_by %></td>
      <td><%= link_to 'Show', weekly_quotum %></td>
      <td><%= link_to 'Edit', edit_weekly_quotum_path(weekly_quotum) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Weekly Quota", :item => weekly_quotum} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_weekly_quotum_path %>
