<h1>Weekly Quota #<%= params[:id] %></h1>
<table>
  <tr><td>Start date:</td><td><%= @weekly_quotum.start_date %></td></tr>
  <tr><td>End date:</td><td><%= @weekly_quotum.end_date %></td></tr>
  <tr><td>Quota:</td><td><%= @weekly_quotum.quota %></td></tr>
  <tr><td>Created by:</td><td><%= @weekly_quotum.creator.login %></td></tr>
  <% if @weekly_quotum.updated_by %>
  <tr><td>Updated by:</td><td><%= @weekly_quotum.updater.login %></td></tr>
  <% end %>
</table><br/>
<%= link_to 'Back', weekly_quota_path %> | <%= link_to 'Edit', edit_weekly_quotum_path(@weekly_quotum) %>