<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :name %></span>
    <span class="form-field"><%= f.text_field :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :description %></span>
    <span class="form-field"><%= f.text_area :description %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :production_quota_value %></span>
    <span class="form-field"><%= f.text_field :production_quota_value %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :product_category_id %></span>
    <span class="form-field"><%= f.collection_select :product_category_id, @product_categories, :id, :name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :options_list_id %></span>
    <span class="form-field"><%= f.collection_select :options_list_id, @options_lists, :id, :name, :prompt => "Select (optional)..." %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :special_occasion_id %></span>
    <span class="form-field"><%= f.collection_select :special_occasion_id, @special_occasions, :id, :name, :prompt => "Select (optional)..." %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :allow_user_to_choose_quantity %></span>
    <span class="form-field"><%= f.check_box :allow_user_to_choose_quantity %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :allow_user_to_enter_description %></span>
    <span class="form-field"><%= f.check_box :allow_user_to_enter_description %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :running_order %></span>
    <span class="form-field"><%= f.number_field :running_order %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
