<h1>Products</h1>
<table>
  <tr>
    <th style="width: 300px;">Name</th>
    <th style="width:  90px;">Production quota value</th>
    <th style="width: 100px;">Special occasion</th>
    <th style="width:  60px;">Running order</th>
    <td style="width:  90px;"></td>
  </tr>
  <% tracker = 0 %>
  <% @products.each do |product| %>
    <% if tracker != product.product_category_id %><% tracker = product.product_category.id %>
    <tr><td colspan=6><h2><%= product.product_category.name %></h2></td></tr>
    <% end %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><b><%= product.name %></b><br/>
          <%= product.description %></td>
      <td><%= product.production_quota_value %></td>
      <td><%= product.occasion %></td>
      <td><%= product.running_order %></td>
      <td><%= link_to 'View', product %> |
          <%= link_to 'Edit', edit_product_path(product) %></td>
      <% if product.shopping_cart_items.count == 0 and product.product_components.count == 0 and product.product_images.count == 0 and product.product_prices.count == 0 %>
        <%= render :partial => '/layouts/delete_button', :locals => {:label => "Product", :item => product} -%>
      <% end %>
    </td>
  <% end %>
</table><br/>

<%= link_to 'New', new_product_path %>
