<h1>Listing shopping_cart_items</h1>

<table>
  <tr>
    <th>Shopping cart</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Product price</th>
    <th>Product options list choice</th>
    <th>Global options list choice</th>
    <th>User description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_cart_items.each do |shopping_cart_item| %>
  <tr>
    <td><%= shopping_cart_item.shopping_cart_id %></td>
    <td><%= shopping_cart_item.product_id %></td>
    <td><%= shopping_cart_item.quantity %></td>
    <td><%= shopping_cart_item.product_price_id %></td>
    <td><%= shopping_cart_item.product_options_list_choice %></td>
    <td><%= shopping_cart_item.global_options_list_choice %></td>
    <td><%= shopping_cart_item.user_description %></td>
    <td><%= link_to 'Show', shopping_cart_item %></td>
    <td><%= link_to 'Edit', edit_shopping_cart_item_path(shopping_cart_item) %></td>
    <td><%= link_to 'Destroy', shopping_cart_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping cart item', new_shopping_cart_item_path %>
