<h1>Shopping Cart Item #<%= params[:id] %></h1>
<table>
  <tr><td>Cake ID:</td><td><%= @shopping_cart_item.cake_id %></td></tr>
  <tr><td>Product:</td><td><%= @shopping_cart_item.product.name %></td></tr>
  <tr><td>Quantity:</td><td><%= @shopping_cart_item.quantity %></td></tr>
  <tr><td>Product price:</td><td><%= @shopping_cart_item.product_price_id %></td></tr>
  <tr><td>Product options list choice:</td><td><%= @shopping_cart_item.product_options_list_choice %></td></tr>
  <tr><td>Global options list choice:</td><td><%= @shopping_cart_item.global_options_list_choice %></td></tr>
  <tr><td>User description:</td><td><%= @shopping_cart_item.user_description %></td></tr>
</table><br/>
<%= link_to 'Back', products_path %> | <%= link_to 'Edit', edit_shopping_cart_item_path(@shopping_cart_item) %>