<p id="notice"><%= notice %></p>

<p>
  <b>Shopping cart:</b>
  <%= @shopping_cart_item.shopping_cart_id %>
</p>

<p>
  <b>Product:</b>
  <%= @shopping_cart_item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @shopping_cart_item.quantity %>
</p>

<p>
  <b>Product price:</b>
  <%= @shopping_cart_item.product_price_id %>
</p>

<p>
  <b>Product options list choice:</b>
  <%= @shopping_cart_item.product_options_list_choice %>
</p>

<p>
  <b>Global options list choice:</b>
  <%= @shopping_cart_item.global_options_list_choice %>
</p>

<p>
  <b>User description:</b>
  <%= @shopping_cart_item.user_description %>
</p>


<%= link_to 'Edit', edit_shopping_cart_item_path(@shopping_cart_item) %> |
<%= link_to 'Back', shopping_cart_items_path %>
