<h1>Finished Products</h1>
<table>
  <tr>
    <th style="width: 250px;">Product details</th>
    <th style="width:  50px;text-align:right;">Typical<br />price</th>
    <th style="width:  50px;text-align:right;">Running order</th>
    <th style="width:  70px;text-align:center;">Ingredients</th>
    <th style="width:  30px;">For sale?</th>
    <th style="width:  40px;">Visible?</th>
    <td style="width:  90px;"></td>
  </tr>
  <% tracker = nil -%>
  <% @finished_products.each do |finished_product| %>
    <% if tracker != finished_product.special_occasion_id.to_i %>
      <tr><td colspan=6><h2>
        <% if finished_product.special_occasion_id %>
          <%= finished_product.special_occasion.name %>
        <% else %>
          Other
        <% end %>
      </h2></td></tr>
      <% tracker = finished_product.special_occasion_id.to_i %>
    <% end %>
    
    <tr style="background-color: <%= cycle("#f9d4e4","inherit") %>;" class="graduated-background">
      <td>
          <h3><%= finished_product.product_name %></h3>
          <%= truncate finished_product.description, :length => 230 %><br/>
          <% finished_product.finished_product_images.each do |fpi| %>
            <%= image_tag("product_images/" + fpi.image.file_name, :height => "80") %>
          <% end %>
      </td>
      <td style="text-align:right;"><%= sanitize number_to_currency(finished_product.typical_price, :unit => @general_setting.ccy, :precision => 2) %></td>
      <td style="text-align:right;"><%= finished_product.running_order %></td>
      <td style="text-align:center;"><%= finished_product.finished_product_ingredients.count %></td>
      <td><%= sanitize tick_or_cross finished_product.available_for_purchase %></td>
      <td><%= sanitize tick_or_cross finished_product.visible %></td>
      <td><%= link_to 'Show', finished_product %> | <%= link_to 'Edit', edit_finished_product_path(finished_product) %></td>
      <% if admin_user %>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "Finished Product", :item => finished_product} -%>
      <% end %>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_finished_product_path %>
