<div class="finished-product">
  <h3><%= link_to(fp.product_name, store_product_url(product_name: fp.product_name.gsub(" ","_")) ) %></h3>
  <div class="fp-photo-1">
    <%= link_to(image_tag(fp.finished_product_images.first.image.full_file_path, :height => "200"), store_product_url(product_name: fp.product_name.gsub(" ","_")) ) %>
  </div>
  <div class="fp-description"><%= sanitize fp.description.gsub("\r","<br/>") %></div>
  <% if fp.available_for_purchase %>
    <div class="fp-price"><br/>Typical price: <%= sanitize number_to_currency(fp.typical_price, :unit => @general_setting.ccy, :precision => 2) %></div>
    <div class="add-to-cart"><br/><%= link_to "Add to Cart" %></div>
  <% end %>
  <%= link_to("View details...", store_product_url(product_name: fp.product_name.gsub(" ","_")) ) %>
  
</div>