<div class="finished-product">
  <h3><%= fp.product_name %></h3>
  <div class="fp-photo-1">
    <%= image_tag(fp.finished_product_images.first.image.full_file_path, :height => "200") %>
  </div>
  <div class="fp-description"><%= sanitize fp.description.gsub("\r","<br/>") %></div>
  <% if fp.available_for_purchase %>
    <div class="fp-price"><br/>Typical price: <%= sanitize number_to_currency(fp.typical_price, :unit => @general_setting.ccy, :precision => 2) %></div>
    <div class="add-to-cart"><br/><%= link_to "Add to Cart" %></div>
  <% end %>
</div>