<div class="finished-product">
  <table>
    <tr><td><%= link_to(image_tag(@fp.finished_product_images.first.image.full_file_path, :class => "fp-photo-1"), store_product_url(product_name: @fp.product_name.gsub(" ","_").gsub(".","%2E"))) %></td>
    <td>  
      <h2><%= link_to(@fp.product_name, store_product_url(product_name: @fp.product_name.gsub(" ","_").gsub(".","%2E")) ) %></h2>
      <span class="fp-description"><%= sanitize @fp.description.gsub("\r","<br/>") %></span>
      <p><%= link_to("View details...", store_product_url(product_name: @fp.product_name.gsub(" ","_").gsub(".","%2E")) ) %>
      <% if @fp.available_for_purchase %>
        <span class="fp-price">Typical price: <%= sanitize number_to_currency(@fp.typical_price, :unit => @general_setting.ccy, :precision => 2) %></span>
        <% if @fp.can_be_bought %>
          <%= render "add_to_cart" %>
        <% end %>
      <% end %>
      </p>
    </td></tr>
  </table>
</div>