<h1>Sign In or Register</h1>
<p>To continue to our checkout process, we need you to either sign in with a current user ID, or register using the form below.</p>

<h2>Sign In</h2>
<fieldset>
  <%= form_for(@user_session) do |s| %>
    <span class="form-label"><%= s.label :login, "Email" %></span><span class="form-field"><%= s.text_field :login %></span><br/>
    <span class="form-label"><%= s.label :password %></span><span class="form-field"><%= s.password_field :password %></span><br/><br/>
    <%= s.submit "Sign In" %> <%= link_to "Forgot password?", "#", :title => "coming soon!"%>
  <% end %>
</fieldset>

<h2>Register a new Account</h2>
<fieldset>
  <%= form_for @user do |u| %>
    <span class="form-label"><%= u.label :login, "Email" %></span><%= u.text_field :login %><br/>
    <span class="form-label"><%= u.label :first_name, "Your first name" %></span><span class="form-field"><%= u.text_field :first_name %></span><br/>
    <span class="form-label"><%= u.label :last_name, "Your last name" %></span><span class="form-field"><%= u.text_field :last_name %></span><br/>
    <span class="form-label"><%= u.label :password, "Choose a password" %></span><span class="form-field"><%= u.password_field :password %></span><br/>
    <span class="form-label"><%= u.label :password, "...and confirm it" %></span><span class="form-field"><%= u.password_field :password_confirmation %></span><br/>
    <%= u.fields_for :customer do |c| %>
    <span class="form-label"><%= c.label :postal_address %></span><span class="form-field"><%= c.text_area :postal_address, :size => "40x4" %></span><br/>
    <span class="form-label"><%= c.label :contact_phone_number %></span><span class="form-field"><%= c.text_field :contact_phone_number %></span><br/>
    <% end %>
    <br/>
    <%= u.submit "Register" %>
  <% end %>
</fieldset>