<h1>Search Results</h1>
<% if @finished_products.count + @products.count > 0 %>

  <% if @finished_products.count > 0 %>
    <h2>We found <%= @finished_products.count %> example cakes for you:</h2>
    <% @finished_products.each do |fp|; @fp = fp %>
      <%= render :partial => "show_product_strip" %>
    <% end %>
  <% end %>
  
  <% if @products.count > 0 %>
    <h2>We found <%= @products.count %> ingredients for you:</h2>
    <ul>
      <% @products.each do |p| %>
        <li><%= p.name %></li>
      <% end %>
    </ul>
  <% end %>

<% else %>
  <p>Sorry, we couldn't find anything matching '<%= params[:search_query]%>'.</p>
<% end %>
<p><%= link_to "Return to home page", root_url %></p>