<h1>Your Cake</h1>

<% if params[:action] == 'show_cake' %>
<p>Here are the details of your cake creation.</p>
<% else %>
<p>You have just added a cake creation to your shopping cart.  Here are the details:</p>
<% end %>

<% if @cake.shopping_cart.shopping_cart_status.active_cart == true %>
  <%= form_for @cake, url: update_cake_details_url(@cake.id) do |f| %>
    <%= hidden_field_tag :id, @cake.id %>
    <table>
      <% if @cake.based_on_finished_product_id.to_i > 0 %>
        <tr><td class="form-label">Based on template:</td><td><%= @cake.finished_product.product_name %></td></tr>
      <% end %>
      <tr><td>Cake needed for:</td>
        <td><%= f.datetime_select :cake_required_at, :order => [:day, :month, :year] %></td>
      </tr>
      <tr><td>The special occasion:</td><td><%= f.text_field :special_occasion %></td></tr>
      <tr><td>What we should write on the cake:</td><td><%= f.text_field :name_to_appear_on_cake %></td></tr>
      <tr><td>Your general description:</td><td><%= f.text_area :general_description_from_customer, :size => "80x6" %></td></tr>
    </table>
    <%= f.submit "Update details" %>
  <% end %>
<% else %>
  <table>
    <% if @cake.based_on_finished_product_id.to_i > 0 %>
      <tr><td class="form-label">Based on template:</td><td><%= @cake.finished_product.product_name %></td></tr>
    <% end %>
    <tr><td>Cake needed for:</td><td><%= @cake.cake_required_at.strftime("%d-%b-%Y %H:%M") %></td></tr>
    <tr><td>The special occasion:</td><td><%= @cake.special_occasion %></td></tr>
    <tr><td>What we should write on the cake:</td><td><%= @cake.name_to_appear_on_cake %></td></tr>
    <tr><td>Your general description:</td><td><%= @cake.general_description_from_customer %></td></tr>
  </table>
<% end %>
<br/>

<table>
  <tr>
    <th style="width: 40px;">Qty</th>
    <th style="width:250px;">Description</th>
    <th style="width:150px;">Options</th>
    <th style="width:150px;">Your description</th>
    <th style="width:100px;text-align:right;">Price Each</th>
    <th style="width:100px;text-align:right;">Total</th>
  </tr>
  <% @cake.shopping_cart_items.each do |item| %>
    <tr class="graduated-background">
      <td><%= item.quantity %></td>
      <td><%= item.product.name %></td>
      <td><%= item.product_options_list_choice %>
          <%= item.global_options_list_choice %></td>
      <td><%= item.user_description %></td>
      <td style="text-align:right;"><%= sanitize(number_to_currency(item.unit_price, :unit => @general_setting.ccy, :precision => 2)) %></td>
      <td style="text-align:right;"><%= sanitize(number_to_currency(item.line_total, :unit => @general_setting.ccy, :precision => 2)) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="5">Grand Total (FREE delivery*):</td>
    <td style="text-align:right;border-top:1px solid black;border-bottom:3px double black;"><%= sanitize(number_to_currency(@cake.total_value, :unit => @general_setting.ccy, :precision => 2)) %></td>
  </tr>
</table>

<p>You can <%= link_to "continue shopping", root_url %>, or you can go directly to <%= link_to "Checkout Now", start_checkout_url, :class => "checkout-button-big" %></p>

<p>If you want to, you can also <%= link_to "remove", delete_cake_url(:cake_id => @cake.id), :confirm => "Are you certain you wish to delete this cake from your shopping cart" %> this cake from your shopping cart.</p>

<script type="text/javascript" charset="utf-8">
  toggle_thing('your-cart');
</script>
