<h1>Shopping Cart #<%= params[:id] %></h1>

<%= render "show_cart" %>

<% if admin_user %>
  <%= link_to 'Back', shopping_carts_path %>
<% else %>
  <%= link_to 'Back', my_account_url %>
<% end %>
<% if admin_user or @shopping_cart.shopping_cart_status.active_cart == true %>
| <%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %>
<% end %>