<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="form-label"><%= f.label :file_name %></span>
    <span class="form-field"><%= f.text_field :file_name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :bucket_name %></span>
    <span class="form-field"><%= f.text_field :bucket_name %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :content_type %></span>
    <span class="form-field"><%= f.text_field :content_type %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :file_size %></span>
    <span class="form-field"><%= f.number_field :file_size %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :finished_product %></span>
    <span class="form-field"><%= f.check_box :finished_product %></span>
  </div>
  <div class="field">
    <span class="form-label"><%= f.label :base_product %></span>
    <span class="form-field"><%= f.check_box :base_product %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
