<h1>Images</h1>
<table>
  <tr>
    <th style="width: 100px;">File name</th>
    <th style="width: 100px;">File size</th>
    <th style="width: 100px;">Finished product</th>
    <th style="width: 100px;">Base product</th>
    <td style="width:  90px;"></td>
    <td style="width:  80px;"></td>
  </tr>
  <% @images.each do |image| %>
    <tr style="background-color: <%= cycle("inherit","inherit") %>;">
      <td><%= image.file_name %></td>
      <td><%= image.file_size %></td>
      <td><%= image.finished_product %></td>
      <td><%= image.base_product %></td>
      <td><%= link_to 'Show', image %> | 
          <%= link_to 'Edit', edit_image_path(image) %></td>
      <%= render :partial => '/layouts/delete_button', :locals => {:label => "image", :item => image} -%>
    </td>
  <% end %>
</table><br/>
<%= link_to 'New', new_image_path %>
