<div id="admin-menu">
  MANAGER MENU:
  <%= link_to "Currencies", currencies_url %> |
  <%= link_to "Customers", customers_url %> |
  <%= link_to "Products", products_url %> |
  <%= link_to sanitize("Finished&nbsp;Products"), finished_products_url %> |
  <%= link_to sanitize("Product&nbsp;Categories"), product_categories_url %> |
  <%= link_to sanitize("Product&nbsp;Components"), product_components_url %> |
  <%= link_to sanitize("Options&nbsp;Lists"), options_lists_url %> |
  <%= link_to "Images", images_url %> |
  <%= link_to sanitize("Product&nbsp;Prices"), product_prices_url %> |
  <%= link_to sanitize("Production&nbsp;Quotas"), production_quota_url %> |
  <%= link_to sanitize("Shopping&nbsp;Carts"), shopping_carts_url %> |
  <%= link_to sanitize("Shopping&nbsp;Cart&nbsp;Statuses"), shopping_cart_statuses_url %> |
  <%= link_to sanitize("PayPal&nbsp;Transactions"), pay_pal_transactions_url %> |
  <%= link_to sanitize("Special&nbsp;Occasions"), special_occasions_url %> |
  <%= link_to sanitize("Static&nbsp;Web&nbsp;Pages"), static_pages_url %> 
</div>