<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if @static_page %>
      <title><%= @static_page.window_title %> - CakeMyDay</title>
    <% else %>
      <title>CakeMyDaySite</title>
    <% end %>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render '/layouts/google_analytics' -%>
  </head>
  <body>
    <div id="header-dark-strip">
      <div id="inner">
        <%= link_to "Cake My Day", root_url, title: "Click to visit our home page" %>
        <%= render '/layouts/site_nav'%>

        <%= form_tag (search_url), :method => 'post' do %>
          <%= text_field_tag :search_query, params[:search_query] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>

        <span style="float:right;">
          <%= render '/layouts/user_access_panel' %>
        </span>

      </div>
    </div>

    <div id="main-block">
      <div id="page-header">
        <div id="logo-area">
          <% if params[:controller] == 'store' %>
            <%= link_to(image_tag("cmd-logo-150x150.png"), root_url) %>
          <% else %>
            <%= link_to(image_tag("cmd-logo-75x75.png"), root_url) %>
          <% end %>
        </div>
      
        <div id="your-cart">
          <% if current_cart %>
            <%= link_to("You have #{current_cart.cakes.count.to_s} cakes in your shopping cart", "#") %>
          <% else %>
            Your cart is empty.
          <% end %>
        </div>
      </div>


      <% if manager_user %>
        <%= render '/layouts/manager_menu' %>
      <% end %>
      <% if admin_user %>
        <%= render '/layouts/admin_menu' %>
      <% end %>

      <% if flash[:notice] and flash[:notice].size > 0 %>
        <p id="flash-notice"><%= flash[:notice] %></p>
      <% end %>

      <div id="page-content">
      <%= yield %>
      </div>

      <%= render '/layouts/page_footer' %>

    </div>

  </body>
</html>
