<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>CakeMyDaySite</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render '/layouts/google_analytics' -%>
  </head>
  <body>

    <div id="page-header">
      <h1>Welcome to <%= link_to "Cake My Day", root_url %></h1>
      <%= link_to "Products", products_url %>
    </div>
    <div id="admin-menu">
      ADMIN MENU:
      <%= link_to "Currencies", currencies_url %> |
      <%= link_to "Customers", customers_url %> |
      <%= link_to "General Settings", general_settings_url %> |
      <%= link_to "Images", images_url %> |
      <%= link_to "Options Lists", options_lists_url %> |
      <%= link_to "PayPal Statuses", pay_pal_statuses_url %> |
      <%= link_to "PayPal Transactions", pay_pal_transactions_url %> |
      <%= link_to "Product Categories", product_categories_url %> |
      <%= link_to "Product Components", product_components_url %> |
      <%= link_to "Product Images", product_images_url %> |
      <%= link_to "Product Prices", product_prices_url %> |
      <%= link_to "Production Quotas", production_quota_url %> |
      <%= link_to "Products", products_url %> |
      <%= link_to "Shopping Cart Items", shopping_cart_items_url %> |
      <%= link_to "Shopping Cart Statuses", shopping_cart_statuses_url %> |
      <%= link_to "Shopping Carts", shopping_carts_url %> |
      <%= link_to "Special Occasions", special_occasions_url %> |
      <%= link_to "Static Web Pages", static_pages_url %> |
      <%= link_to "User Groups", user_groups_url %> |
      <%= link_to "Users" %> |
      <%= link_to "Weekly Quotas", weekly_quota_url %>
    </div>
  <%= yield %>

  </body>
</html>
